{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
<!-- Hero content: will be in the middle -->
{{#post}}


<section data-aos="fade-up">
<div class="container post-banner">

    <div class="columns is-vcentered " data-aos="fade-up" data-aos-delay="{{@number}}00" data-aos-offset="0">
      <div class="column is-half has-text-centered">
      <div class="banner-img">

  <figure class="image is-square">
    <img src="{{feature_image}}" style="border-radius:1rem">
  </figure>

      </div>

      </div>

    <div class="column is-4 is-offset-1 banner-txt">
      <h1 class="title">Meet </br>
      Stefan Twerdochlib</h2>

    </div>

  </div>
</div>

</section>

<section>
  <div class="container post-content content">
    <div class="columns">

    <div class="column is-10 is-offset-1" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">

    {{content}}
  </div>
  </div>
</section>





{{!-- Links to Previous/Next posts --}}

{{/post}}

<div class="container">
  <div class="columns">

<div class="column is-full has-text-centered content">
<h3>Checkout some recent work</h3>
</div>
</div>

<div class="columns">


{{#get "posts" include="tags" limit="3"}}
{{#foreach posts}}
{{#has tag="portfolio"}}

{{> "post-card"}}

{{/has}}
{{/foreach}}
{{/get}}

</div>
</div>



{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
    // End fitVids

    var progressBar = document.querySelector('#reading-progress');
    var header = document.querySelector('.floating-header');
    var title = document.querySelector('.post-full-title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide floating header
        if (lastScrollY >= trigger + triggerOffset) {
            header.classList.add('floating-active');
        } else {
            header.classList.remove('floating-active');
        }

        progressBar.setAttribute('max', progressMax);
        progressBar.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();

});
</script>
{{/contentFor}}
