{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}




{{#tag}}
  <header>
    <section class="hero is-small has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{name}}
        </h1>

    </div>
  </section>

  </header>
{{/tag}}

<section>

  <div class="container content">
    <div class="columns is-multiline">
  {{#foreach posts}}
    <!-- includes the post loop - partials/loop.hbs -->
    {{> "post-card"}}

    {{/foreach}}

  </div>
  </div>

  </section>
